assets/documents/*
!assets/documents/.gitkeep

assets/coupons/*
!assets/coupons/.gitkeep

assets/employee-list/*
assets/img/*
assets/zip-coupons-img/*


application/cache/*
!application/cache/index.html

application/logs/*
application/third_party/*
application/config/database.php
application/config/constants.php
application/config/config.php
application/config/autoload.php
application/ci_sessions/*
system/*
DB/*
sample-folder/*
